.progress {
    width: 200px;
    height: 12px;
}

.progress-wrap {
    background: #f80;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

.progress-bar{
    border-radius: unset;
}


@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

/* Basic resets */

* {
	margin:0; padding:0;
	box-sizing: border-box;
}

.progress-bar-text{
    font-size: 10px;
    z-index: 1500;
    position: absolute;
    left: 45%;
}
/* Styling an indeterminate progress bar */


/* Styling the determinate progress element */

progress[value] {
	/* Get rid of the default appearance */
	appearance: none;

	/* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
	border: none;

	/* Add dimensions */
	width: 100%; height: 10px;

	/* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
	  background-color: whiteSmoke;
	  border-radius: 3px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

	/* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
	color: royalblue;

	position: relative;
	margin: 0 0 1.5em;
}
