{% extends 'projects/layouts/base.html' %}
{% load static %}

{% block title %} {{ project.title }} {% endblock title %}
{% block styles %}
    <link href="{% static 'projects/assets/css/single.css' %}" rel='stylesheet' type='text/css'/>

{% endblock %}
{% block content %}
    <div class="single-page-agile-main">
        <div class="container">

           <div class="agileits-single-top">
                <ol class="breadcrumb">
                    <li><a href="#">your donations</a></li>

                </ol>
            </div>
            <div class="single-page-agile-info">
                <div class="song">
                        {% for donation in donations %}
                            {% if donation.project %}
                                <div class="song-grid-right">
                                <div class="share">


                                    <h3><strong>Project Title: </strong>{{donation.project.title}}</h3><br>

                                    <div class="item md-3">
                                        <img src={{ donation.project.cover.url }} class="img-responsive" width="400px" height="500px"/>
                                    </div> <br>
                                    <ol>
                                        <li>
                                        <h5> <strong>Donated: </strong>${{ donation.donation }}</h5><br>
                                            </li>
                                       <li><h5><strong>Donating Time: </strong>{{ donation.donated_at}}</h5></li><br>

                                      <span class="tag">

                                          <a href="{% url 'show_project' donation.project_id %}">
                                            show project details
                                          </a>
                                        </span>
                                    </ol>


                                </div>
                            </div>
                            {% endif %}
                        </div>
                         {%endfor%}
                    </div>



                    <div class="col-md-4 single-right">
                        <h3>Up Next</h3>
                        <div class="single-grid-right">
                            <div class="single-right-grids">
                                <div class="col-md-4 single-right-grid-left">
                                    <a href="single.html"><img src="images/m1.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-8 single-right-grid-right">
                                    <a href="single.html" class="title"> Nullam interdum metus</a>
                                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                                    <p class="views">2,114,200 views</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


