{% extends 'projects/layouts/base.html' %}
{% load static %}
{% block title %} {{ project.title }} {% endblock title %}
{% block styles %}
    <link href="{% static 'projects/assets/css/contactstyle.css' %}" rel='stylesheet' type='text/css' media="all" />
    <link href="{% static 'projects/assets/css/faqstyle.css' %}" rel='stylesheet' type='text/css' media="all" />
    <link href="{% static 'projects/assets/css/single.css' %}" rel='stylesheet' type='text/css' media="all" />
    <link href="{% static 'projects/assets/css/font-awesome.min.css' %}" rel='stylesheet' type='text/css' media="all" />
   <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
   <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
         function hideURLbar(){ window.scrollTo(0,1); } </script>
   <script>

   </script>

{% endblock %}
{% block content %}

<!-- banner -->
	<div id="slidey" style="display:none;">
		<ul>
			{% for highest_five in highest_five_rated%}
			<li><img src="{{ highest_five.cover.url }}" alt=" "><p class='title'>"{{ highest_five.title }}"</p><p class='description'> "{{ highest_five.details }}"</p></li>
	        {% endfor %}
		</ul>
    </div>
    <script src="{% static 'projects/assets/js/jquery.slidey.js' %}"></script>
    <script src="{% static 'projects/assets/js/jquery.dotdotdot.min.js' %}"></script>

<!-- //banner -->

<!-- general -->
	<div class="general">
		<h4 class="latest-text w3_latest_text">Categories Have Highest Number of Projects</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<div  class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" >
						<div class="w3_agile_featured_movies">
							{% for cat in categories %}
							<div class="col-md-2 w3l-movie-gride-agile">
								<a href="/category/{{cat.id}}" class="hvr-shutter-out-horizontal"><img src="{{ cat.image.url }}" title="album-name" class="img-responsive" alt=" " />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="#">{{ cat.name }}</a></h6>
									</div>
									<div class="mid-2 agile_mid_2_home">
										<div class="block-stars">
										</div>
										<div class="clearfix"></div>
									</div>
								</div>

							</div>
							{% endfor %}

							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //general -->


<!-- general -->
<!--	<div class="general">-->
<!--		<h4 class="latest-text w3_latest_text">Categories Have Highest Number of Projects</h4>-->
<!--		<div class="container">-->
<!--			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">-->
<!--				<ul id="myTab" class="nav nav-tabs" role="tablist">-->
<!--					<li role="presentation" class="active"><a href="#cat-{{first_category.id}}" id="cat-{{first_category.id}}-tab" role="tab" data-toggle="tab" aria-controls="cat-{{first_category.id}}" aria-expanded="true">{{first_category.name}}</a></li>-->
<!--					{% for cat in categories %}-->
<!--					<li role="presentation"><a href="#cat-{{cat.id}}" role="tab" id="cat-{{cat.id}}-tab" data-toggle="tab" aria-controls="cat-{{cat.id}}" aria-expanded="cat-{{cat.id}}">{{cat.name}}</a></li>-->
<!--					{% endfor %}-->
<!--				</ul>-->
<!--				<div id="myTabContent" class="tab-content">-->
<!--					<div role="tabpanel" class="tab-pane fade active in" id="cat-{{first_category.id}}" aria-labelledby="cat-{first_category.id}}-tab">-->
<!--						<div class="w3_agile_featured_movies">-->
<!--							{% for proj in first_category.project_set.all %}-->
<!--							<div class="col-md-2 w3l-movie-gride-agile">-->
<!--								<a href="#" class="hvr-shutter-out-horizontal"><img src="{{ proj.cover.url }}" title="album-name" class="img-responsive" alt=" " />-->
<!--									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>-->
<!--								</a>-->
<!--								<div class="mid-1 agileits_w3layouts_mid_1_home">-->
<!--									<div class="w3l-movie-text">-->
<!--										<h6><a href="#">{{ proj.title }}</a></h6>-->
<!--									</div>-->
<!--									<div class="mid-2 agile_mid_2_home">-->
<!--										<p>{{ proj.created_at.year }}</p>-->
<!--										<div class="block-stars">-->
<!--											<ul class="w3l-ratings">-->
<!--												{% if proj.rate > 0 %}-->
<!--												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--												 {% else %}-->
<!--												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--												{% endif %}-->

<!--												{% if proj.rate > 1 %}-->
<!--												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--												{% else %}-->
<!--												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--												{% endif %}-->

<!--												{% if proj.rate > 2 %}-->
<!--												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--												{% else %}-->
<!--												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--												{% endif %}-->

<!--												{% if proj.rate > 3 %}-->
<!--												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--												{% else %}-->
<!--												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--												{% endif %}-->

<!--												{% if proj.rate > 4 %}-->
<!--												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--												{% else %}-->
<!--												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--												{% endif %}-->
<!--											</ul>-->
<!--										</div>-->
<!--										<div class="clearfix"></div>-->
<!--									</div>-->
<!--								</div>-->

<!--							</div>-->
<!--							{% endfor %}-->

<!--							<div class="clearfix"> </div>-->
<!--						</div>-->
<!--					</div>-->

<!--					{% for cat in categories%}-->
<!--					<div role="tabpanel" class="tab-pane fade" id="cat-{{cat.id}}" aria-labelledby="cat-{{cat.id}}-tab">-->

<!--						{% for proj in cat.project_set.all %}-->
<!--						<div class="col-md-2 w3l-movie-gride-agile">-->
<!--							<a href="#" class="hvr-shutter-out-horizontal"><img src="{{proj.cover.url}}" title="album-name" class="img-responsive" alt=" " />-->
<!--								<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>-->
<!--							</a>-->
<!--							<div class="mid-1 agileits_w3layouts_mid_1_home">-->
<!--								<div class="w3l-movie-text">-->
<!--									<h6><a href="single.html">{{proj.title}}</a></h6>-->
<!--								</div>-->
<!--								<div class="mid-2 agile_mid_2_home">-->
<!--									<p>{{ proj.created_at.year }}</p>-->
<!--									<div class="block-stars">-->
<!--										<ul class="w3l-ratings">-->
<!--											{% if proj.rate > 0 %}-->
<!--											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--											{% else %}-->
<!--											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--											{% endif %}-->

<!--											{% if proj.rate > 1 %}-->
<!--											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--											{% else %}-->
<!--											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--											{% endif %}-->

<!--											{% if proj.rate > 2 %}-->
<!--											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--											{% else %}-->
<!--											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--											{% endif %}-->

<!--											{% if proj.rate > 3 %}-->
<!--											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--											{% else %}-->
<!--											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--											{% endif %}-->

<!--											{% if proj.rate > 4 %}-->
<!--											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>-->
<!--											{% else %}-->
<!--											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>-->
<!--											{% endif %}-->
<!--								    	</ul>-->

<!--									</div>-->
<!--									<div class="clearfix"></div>-->
<!--								</div>-->
<!--							</div>-->

<!--						</div>-->
<!--						{% endfor %}-->
<!--						<div class="clearfix"> </div>-->
<!--					</div>-->
<!--					{% endfor %}-->

<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!-- //general -->




<!-- general -->
	<div class="general">
		<h4 class="latest-text w3_latest_text">Latest Five Projects</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<div id="" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">
							{% for proj in latest_five_projects %}
							<div class="col-md-2 w3l-movie-gride-agile">
								<a href="#" class="hvr-shutter-out-horizontal"><img src="{% static 'projects/assets/images/m13.jpg' %}" title="album-name" class="img-responsive" alt=" " />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="#">{{proj.title}}</a></h6>
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p>{{ proj.created_at.year }}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
												{% if proj.rate > 0 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												 {% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}

												{% if proj.rate > 1 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												{% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}

												{% if proj.rate > 2 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												{% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}

												{% if proj.rate > 3 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												{% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}

												{% if proj.rate > 4 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												{% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>

							</div>
							{% endfor %}
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //general -->




<!-- general -->
	<div class="general">
		<h4 class="latest-text w3_latest_text">Featured Projects</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<div  class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">
							{% for proj in featured_project %}
							<div class="col-md-2 w3l-movie-gride-agile">
								<a href="#" class="hvr-shutter-out-horizontal"><img src="{% static 'projects/assets/images/m13.jpg' %}" title="album-name" class="img-responsive" alt=" " />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="#">{{proj.title}}</a></h6>
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p>{{ proj.created_at.year }}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
												{% if proj.rate > 0 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												 {% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}

												{% if proj.rate > 1 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												{% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}

												{% if proj.rate > 2 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												{% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}

												{% if proj.rate > 3 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												{% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}

												{% if proj.rate > 4 %}
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												{% else %}
												<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												{% endif %}
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>

							</div>
							{% endfor %}
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //general -->
<!-- Latest-tv-series -->

	<!-- pop-up-box -->
	<script src="{% static 'projects/assets/js/jquery.magnific-popup.js' %}"></script>
	<!--//pop-up-box -->
	<div id="small-dialog" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>
	</div>
	<div id="small-dialog1" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/148284736"></iframe>
	</div>
	<div id="small-dialog2" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
	</div>
	<script>
		$(document).ready(function() {
		$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		});
	</script>
<!-- //Latest-tv-series -->

{% endblock content %}
