{% extends 'projects/layouts/base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'projects/assets/css/single.css' %}" rel='stylesheet' type='text/css'/>

{% endblock %}
{% block content %}
    <div class="single-page-agile-main">
        <div class="container">

           <div class="agileits-single-top">
                <ol class="breadcrumb">
                    <li><a href="#"><big>your saved projects</big></a></li>

                </ol>
            </div>
            <div class="single-page-agile-info">

                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-8 single-left">
                        <div class="more">
                            <button id="more-btn" class="more-btn">
                                <span class="more-dot"></span>
                                <span class="more-dot"></span>
                                <span class="more-dot"></span>
                            </button>

                        </div>


                        <div class="song">

                        {% for saved_project in my_saved_projects %}
                            <div class="song-grid-right">
                                <div class="share">

                                    <h5><strong>Project Title: </strong>{{ saved_project.project.title }}</h5><br>
                                     <div class="item md-3">
                                        <img src={{ saved_project.project.cover.url }} class="img-responsive" width="400px" height="500px"/>
                                    </div> <br>

                                     <span class="tag">
                                          <a href="{% url 'show_project'  saved_project.project_id %}">
                                           Show Details
                                          </a>
                                        </span>
                                    <div class="single-agile-shar-buttons">
                                        {% for tag in project.tags %}
                                            <span class="tag"> {{ tag.name }} </span>
                                        {% endfor %}


                                    </div>
                                </div>
                            </div>

                        </div>
                         {%endfor%}
                    </div>



                    <div class="col-md-4 single-right">
                        <h3>Up Next</h3>
                        <div class="single-grid-right">
                            <div class="single-right-grids">
                                <div class="col-md-4 single-right-grid-left">
                                    <a href="single.html"><img src="images/m1.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-8 single-right-grid-right">
                                    <a href="single.html" class="title"> Nullam interdum metus</a>
                                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                                    <p class="views">2,114,200 views</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


