<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Crowd Funding - {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href={% static 'projects/assets/css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'projects/assets/css/flexslider.css' %}>
    <link rel="stylesheet" href={% static 'projects/assets/css/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static 'projects/assets/css/jquery.slidey.min.css' %}>
    <link rel="stylesheet" href={% static 'projects/assets/css/owl.carousel.css' %}>
    <link rel="stylesheet" href={% static 'projects/assets/css/popuo-box.css' %}>
    <link rel="stylesheet" href={% static 'projects/assets/css/news.css' %}>
    <link rel="stylesheet" href={% static 'projects/assets/css/style.css' %}>
    <link rel="stylesheet" href={% static 'projects/assets/css/medile.css' %}>

    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300'
          rel='stylesheet' type='text/css'>

    {% block styles %}

    {% endblock %}

</head>
<body>

<!-- header -->
<div class="header">

    <div class="container">
        <div class="w3layouts_logo">
            <a href="#"><h1>Crowd<span>Funding</span></h1></a>
        </div>
        <div class="w3_search">
            {% if request.user.is_authenticated %}
            <form action="#" method="post">
                <input type="text" name="Search" placeholder="Search" required="">
                <input type="submit" value="Go">
            </form>
            {% endif%}
            <div class="col-md-8">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
        
            </div>
        </div>
        <div class="w3l_sign_in_register">
            
            <ul>
                {% if request.user.is_authenticated %}
                     <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="/login" >Login</a></li>
                    <li><a href="/register" >Sign Up</a></li>

                {% endif%}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header -->

<!-- nav -->
{% if request.user.is_authenticated %}
   <div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/projects/">All Projects</a></li>
                        <li><a href="/projects/self">My Projects</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
{% endif %}
<!-- //nav -->

<div class="container">
    {% block content %} {% endblock %}
</div>


<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 w3ls_footer_grid_right">
                <a href="#"><h2>Crowd<span>Funding</span></h2></a>
            </div>

            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    <li>
                        <a href="genres.html">Movies</a>
                    </li>
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="horror.html">Action</a>
                    </li>
                    <li>
                        <a href="genres.html">Adventure</a>
                    </li>
                    <li>
                        <a href="comedy.html">Comedy</a>
                    </li>
                    <li>
                        <a href="icons.html">Icons</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- //footer -->
<!-- Scripts -->

<!-- js -->
<script type="text/javascript" src={% static 'projects/assets/js/jquery-2.1.4.min.js' %}></script>
<!-- //js -->
<!-- banner-bottom-plugin -->
<script src={% static 'projects/assets/js/owl.carousel.js' %}></script>
<script type="text/javascript" src={% static 'projects/assets/js/move-top.js' %}></script>
<script type="text/javascript" src={% static 'projects/assets/js/easing.js' %}></script>

<script src={% static 'projects/assets/js/jquery.slidey.js' %}></script>
<script src={% static 'projects/assets/js/jquery.dotdotdot.min.js' %}></script>

<script src={% static 'projects/assets/js/bootstrap.min.js' %}></script>
<script src= {% static 'projects/assets/js/app.js' %}>
</script>


</body>
</html>

